<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522505857995-quh3vvqjdumlfj7c99fs73tqpvo7qgt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522505857995-quh3vvqjdumlfj7c99fs73tqpvo7qgt5</string>
	<key>API_KEY</key>
	<string>AIzaSyCTM1ZElSBjOgfr6elm-QYARmg0XVNL55U</string>
	<key>GCM_SENDER_ID</key>
	<string>522505857995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginform</string>
	<key>PROJECT_ID</key>
	<string>my-project-6bd01</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-6bd01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522505857995:ios:a5cb722da73f607a1ce44e</string>
</dict>
</plist>